<header th:fragment="header__copy">
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div id="buggerMenu" class="inset-y-0 left-0 flex items-center md:hidden">
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="hidden md:flex items-center justify-center md:items-stretch md:justify-start">
          <div id="logoHeader" class="flex-shrink-0 flex items-center hover:cursor-pointer">
            <img class="block h-8 w-auto" th:src="@{/images/favicon.svg}" alt="FPT Mock E-Commerce">
            <span class="lg:block ml-2 text-white text-center align-middle text-lg">FPT Mock E-Commerce</span>
          </div>
          <div>
            <div id="lgTabCategory" class="flex space-x-4">
              <button name="lgTabCategory-1" th:class="${(param.category != null and param.category.contains('fashion')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'}">Fashion</button>
              <button name="lgTabCategory-2" th:class="${(param.category != null and param.category.contains('phone')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'}">Phone</button>
              <button name="lgTabCategory-3" th:class="${(param.category != null and param.category.contains('laptop')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'}">Laptop</button>
              <button name="lgTabCategory-4" th:class="${(param.category != null and param.category.contains('book')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'}">Book</button>
            </div>
          </div>
        </div>

        <div class="flex items-center">
          <div>
            <label for="searching" class="sr-only">Search</label>
            <input id="searching" name="searching" type="text" class="appearance-none rounded-none relative w-full px-3 h-6 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Search">
          </div>
          <button id="searchingButton" class="flex items-center ml-2">
            <ion-icon name="search-outline" class="text-white text-bold text-lg"></ion-icon>
          </button>
        </div>

        <div class="inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button th:if="${session.customer == null}" id="loginHeaderButton" name="lgTabCategory-4" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</button>

          <div th:unless="${session.customer == null}" id="userHeaderButton" class="ml-3 relative">
            <div id="userIcon">
              <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-expanded="false" aria-haspopup="true">
                <ion-icon class="h-8 w-8 rounded-full text-white" name="person-outline"></ion-icon>
              </button>
            </div>
            <div id="userPopupMenu" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none transition-all" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <div id="profileButton" class="block px-4 py-2 text-sm text-gray-700 hover:cursor-pointer hover:bg-slate-200" role="menuitem" tabindex="-1">Your Profile</div>
              <div id="ordersButton" class="block px-4 py-2 text-sm text-gray-700 hover:cursor-pointer hover:bg-slate-200" role="menuitem" tabindex="-1">Your Orders</div>
              <div id="logoutButton" class="block px-4 py-2 text-sm text-gray-700 hover:cursor-pointer hover:bg-slate-200" role="menuitem" tabindex="-1">Sign out</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sm:hidden" id="mobileMenu">
      <div id="smTabCategory" class="px-2 pt-2 pb-3 space-y-1">
        <button name="smTabCategory-1" th:class="${(param.category != null and param.category.contains('fashion')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium'}">Fashion</button>
        <button name="smTabCategory-2" th:class="${(param.category != null and param.category.contains('phone')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium'}">Phone</button>
        <button name="smTabCategory-3" th:class="${(param.category != null and param.category.contains('laptop')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium'}">Laptop</button>
        <button name="smTabCategory-4" th:class="${(param.category != null and param.category.contains('book')) ? 'bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium': 'text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium'}">Book</button>
      </div>
    </div>

  </nav>
</header>
