<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FPT Mock E-Commerce</title>

    <script th:src="@{https://cdn.tailwindcss.com}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}" type="module" ></script>
    <script th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}" nomodule></script>

    <link th:href="@{/images/favicon.svg}" rel="icon" type="image/x-icon">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/header.js}"></script>
  </head>
  <body>
    <div th:replace="~{/components/header :: header__copy}"></div>

    <div class="bg-white">
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Customers also purchased</h2>
        <div id="listProducts" class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          <div th:each="product : ${products}" class="group relative hover:cursor-pointer">
            <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
              <img th:src="${product.thumbnailImage}" th:alt="${product.name}" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
            </div>
            <div class="mt-4 flex flex-col justify-between">
              <p th:text="${product.price} + ' VNĐ'" class="text-base font-extrabold text-gray-900"></p>
              <div>
                <span th:text="'-' + ${product.discount} + '%'" class="mt-1 pl-1 text-sm text-gray-500 border-solid border-2 border-indigo-100 bg-slate-200"></span>
              </div>
              <h3 class="text-sm text-gray-700">
                <a th:text="${product.name}" href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>