<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FPT Mock E-Commerce</title>

    <link th:href="@{/images/favicon.svg}" rel="icon" type="image/x-icon">

    <script th:src="@{https://cdn.tailwindcss.com}"></script>
    <script th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}" type="module" ></script>
    <script th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}" nomodule></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/lib/jquery.tmpl.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>

    <script th:src="@{/js/State.js}"></script>

    <script th:src="@{/js/service/ProductService.js}"></script>
    <script th:src="@{/js/service/CustomerService.js}"></script>
    <script th:src="@{/js/service/OrderService.js}"></script>

    <script th:src="@{/js/Index.js}"></script>
    <script th:src="@{/js/Header.js}"></script>
    <script th:src="@{/js/Login.js}"></script>

    <script th:src="@{/js/ProductDetail.js}"></script>
    <script th:src="@{/js/ProductCard.js}"></script>
    <script th:src="@{/js/ProductCreation.js}"></script>
    <script th:src="@{/js/ProductUpdate.js}"></script>
  </head>
  <body>
    <div th:replace="~{/components/Header :: header__copy}"></div>

    <div class="bg-white">
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Customers also purchased</h2>
        <div id="listProducts" class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          <th:block th:each="product: ${products}">
            <div th:replace="~{/components/ProductCard :: productCard__copy(${product})}"></div>
          </th:block>
        </div>
      </div>
    </div>

    <button id="addProductButton" class="fixed w-16 h-16 bottom-12 right-12 bg-indigo-600 rounded-full z-50 drop-shadow-2xl hover:scale-110 ease-in-out duration-300">
      <ion-icon name="create-outline" class="text-3xl text-white"></ion-icon>
    </button>

    <div th:replace="~{/components/ProductCreation :: productCreation__copy}"></div>
    <div th:replace="~{/components/ProductUpdate :: productUpdate__copy}"></div>
    <div th:replace="~{/components/Login :: loginModal__copy}"></div>

    <div th:replace="~{/components/NewSnackbar :: newSnackbar__copy}"></div>
    <div th:replace="~{/components/SuccessSnackbar :: successSnackbar__copy}"></div>
    <div th:replace="~{/components/DeleteSnackbar :: deleteSnackbar__copy}"></div>
  </body>
</html>