<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FPT Mock E-Commerce</title>

    <link th:href="@{/images/favicon.svg}" rel="icon" type="image/x-icon">

    <script th:src="@{https://cdn.tailwindcss.com}"></script>
    <script th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}" type="module" ></script>
    <script th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}" nomodule></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/lib/jquery.tmpl.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>


    <script th:src="@{/js/service/CustomerService.js}"></script>

    <script th:src="@{/js/Header.js}"></script>
    <script th:src="@{/js/Profile.js}"></script>
  </head>
  <body>
    <div th:replace="~{/components/Header :: header__copy}"></div>

    <div class="bg-white">
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 mb-16">Your Profile</h2>

        <form id="editCustomerForm" class="w-full" th:value="${session.customer.id}" >
          <div class="w-full mb-12">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-first-email">
              Email
            </label>
            <input th:value="${session.customer.email}" disabled name="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white" id="grid-first-email" type="email" placeholder="email@gmail.com">
          </div>

          <div class="w-full mb-12">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-first-password">
              Password
            </label>
            <input th:value="${session.customer.password}" name="password" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white" id="grid-first-password" type="password" placeholder="******">
          </div>

          <div class="w-full mb-12">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-first-nameUser">
              Name
            </label>
            <input th:value="${session.customer.name}" name="name" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white" id="grid-first-nameUser" type="text" placeholder="Nguyen Van A">
          </div>

          <div class="w-full mb-12">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-first-phone">
              Phone
            </label>
            <input th:value="${session.customer.phone}" name="phone" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white" id="grid-first-phone" type="text" placeholder="0775516337">
          </div>

          <div class="w-full mb-12">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-first-address">
              Address
            </label>
            <input th:value="${session.customer.address}" name="address" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white" id="grid-first-address" type="text" placeholder="400 Nguyen Hoang"/>
          </div>

          <div class="mb-12">
            <p id="editMessage" class="text-red-500 text-xs italic"></p>
          </div>

          <div class="flex justify-end w-full">
            <button id="saveSubmitButton" type="button" class="w-1/12 bg-indigo-600 border border-transparent rounded-md py-3 px-3 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <ion-icon name="arrow-up-outline" class="text-xl"></ion-icon>
              <span class="ml-5">Save</span>
            </button>
          </div>
        </form>

      </div>
    </div>

  </body>
</html>
